<div class="container text-center">
  <br>
  <br>
  <%= form_with model:@request, url: new_public_request_path, local:true do |f| %>
  <div class="text-center h2">予約フォーム</div>
  <br>
  <br>
  <div class="row h3">
    <div class="col-2"></div>
    <!--依頼品の入力欄-->
    <div class="col-4">
      <div class="field">
        <%= f.label  "予約の品物" %><br>
        <%= f.text_field :name, autofocus: true, autocomplete: "研ぎたい物" %>
      </div>
    </div>
      <!--来店日時-->
    <div class="col-4">
      <div class="field">
        <%= f.label "来店日" %><br />
        <%= f.date_field :time, autofocus: true, autocomplete: "time" %>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <br>
  <br>
  <div class="row h3">
    <!--要望欄-->
    <div class="col">
      <div class="field">
        <%= f.label "要望欄(ある場合のみ)" %><br />
        <%= f.text_field :comment, autofocus: true, autocomplete: "comment" %>
      </div>
    </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <!--配達希望の選択-->
       <div class="col">
          <p class="text-center h3">
            仕上がり後のお届けを希望しますか？
          </p>
           <p class="text-center text-danger">
            ※お届けの場合は営業時間、予約状況で<br>
            当日中にお届けできない場合もございますので<br>
            予めご了承ください
          </p>
          <div class="h4">
            <%= f.label :status, 'する', value: 1 %>
            <%= f.radio_button :status, '1' %>
            <%= f.label :status, 'しない', value: 0 %>
            <%= f.radio_button :status, '0' %>
          </div>
          <br>
          <br>
          <div class="row h3">
          <div class="col"></div>
            <div class="col-5">
              <div class="actions ">
                <%= f.submit "予約する",class:"bg-success text-white" %>
              </div>
            </div>
          <div class="col"></div>
          </div>
        </div>
    </div>
  <% end %>
  <br>
  <br>
  <br>
</div>