<div class="container">
  <table class="table table-dark">
    <br>
    <br>
      <p class="h2 text-center">
        依頼の詳細
      </p>
    <br>
    <br>
    <br>
    <thead>
      <tr>
        <th scope="col">予約日</th>
        <th scope="col">時間</th>
        <th scope="col">品物</th>
        <th scope="col">配送希望</th>
        <th scope="col">要望</th>
        <th scope="col">仕上げ時間</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @request.date %></td>
        <td><%= @request.time %></td>
        <td><%= @request.name %></td>
        <td><%= @request.status %></td>
        <td><%= @request.comment %></td>
        <td><%= @request.making_status %></td>
      </tr>
    </tbody>
  </table>
  <div class="text-center h2">
    <td>お知らせ</td>
    <br>
    <td>
      <% if @inform.present? %>
      <%= @inform.inform %>
      <% else %>
      お知らせはありません。
      <% end %>
      </td>
  </div>
    <br>
    <br>
    <br>
  <div class="text-center h2 text-white">
    <% if @request.customer == current_customer %>
    <button type="button" class="btn btn-danger">
      <%= link_to "予約を取り消す", public_request_path(@request),class: 'text-white',method: :delete %>
    </button>
    <% end %>
  </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>