<div class="container">
  <table class="table table-dark">
    <br>
    <br>
      <p class="h2 text-center">
        依頼の詳細
      </p>
    <br>
    <br>
    <br>
    <thead>
      <tr>
        <th>予約日</th>
        <th scope>来店時間</th>
        <th scope="col">顧客名</th>
        <th scope="col">品物</th>
        <th scope="col">配送希望</th>
        <th scope="col">要望</th>
        <th scope="col">仕上げ</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @request.date %></td>
        <td><%= @request.time %></td>
        <td><%= @request.customer.last_name %><%= @request.customer.first_name %></td>
        <td><%= @request.name %></td>
        <td><%= @request.status %></td>
        <td><%= @request.comment %></td>
        <td><%= @request.making_status %></td>
      </tr>
    </tbody>
  </table>
  <div class="text-center h2">
    <td>お知らせ</td>
    <br>
    <td><%= @inform.inform %></td>
  </div>
    <br>
    <br>
    <br>
  <%= form_with model: [:admin,@inform] do |f| %>
  <%= f.hidden_field :request_id, :value => params[:id] %>
  <div class="text-center h2">
    <td>仕上げ時間の選択</td>
    <td><%= f.select :making_status, Request.making_statuses.keys, selected: @request.making_status %></td>
    <!--making_statuses.keysで現在の現在の値を引き出している-->
  </div>
  <br>
  <br>
  <br>
  <div class="text-center h2">
    <td><%= f.text_area :inform, rows:'5',placeholder: "お知らせを入力" %></td>
  </div>
  <div class="text-center h2">
    <td><%= f.submit "完了" %></td>
  </div>
  <% end %>
  </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>