<!DOCTYPE html>
  <head>
    <title>研ぎ陣</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
 <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="#">
    <%= link_to image_tag('logo.jpg',size: '75x75'),root_path %>
    </a>
      <% if admin_signed_in? %>
        <a class="nav-item"><%= link_to "会員一覧",admin_customers_path, class: 'nav-link text-warning  ml-2'%></a>
        <a class="nav-item"><%= link_to "依頼一覧",admin_root_path, class: 'nav-link text-warning  ml-2'%></a>
        <a class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, class: 'nav-link text-warning  ml-2', method: :delete%></a>
    　<% elsif customer_signed_in? %>
    　   <span class="mt-2" style="color: white;">ようこそ、<%= current_customer.last_name %>さん</span>
    　   <a class="nav-item"><%= link_to "マイページ",public_customer_path(current_customer), class: 'nav-link text-warning  ml-2'%></a>
        <a class="nav-item"><%= link_to "依頼履歴", public_requests_path, class: 'nav-link text-warning  ml-2'%></a>
        <a class="nav__item"><%= link_to "ログアウト",destroy_customer_session_path, class: 'nav-link text-warning  ml-2', method: :delete%></a>
      <% else %>
        <a class="nav-item"><%= link_to"新規登録", new_customer_registration_path, class: 'nav-link text-warning  ml-2' %></a>
        <a class="nav-item"><%= link_to"ログイン",new_customer_session_path, class: 'nav-link text-warning  ml-2'%></a>
      <% end %>
  </nav>
    <main>
      <%= yield %>
    </main>
    <footer class="text-white text-center bg-dark">
        <div class="container">
            <div class="mx-auto text-warning">
              <p class="pt-3" style="font-size:15px;">
              </p>
              <p style="font-size:15px;">電話でのお問い合わせはTEL.048-299-5571</p>
              <p style="font-size:15px;">〒334-0013 埼玉県川口市新井町12-11</p>
              <br>
            </div>
        </div>
    </footer>
  </body>
</html>